@using TaskManagerMVC.Services;
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="msapplication-TileColor" content="#5bc0de" />
    <meta name="msapplication-TileImage" content="assets/img/metis-tile.png" />


    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

    @Styles.Render("~/bundles/themeStyle")
</head>
<body class=" " style="background-color:#3a3a3a">
    <div class="bg-dark dk" id="wrap">
        <div id="top">
            <!-- .navbar -->
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container-fluid">


                    <!-- Brand and toggle get grouped for better mobile display -->
                    <header class="navbar-header">

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </header>

                    <div class="collapse navbar-collapse navbar-ex1-collapse">

                        <!-- .nav -->
                    </div>
                </div>
                <!-- /.container-fluid -->
            </nav>
            <!-- /.navbar -->
            <header class="head">
                <div class="main-bar">
                    <h3>
                        <i class="fa fa-home"></i>&nbsp;
                        Metis
                    </h3>
                </div>
                <!-- /.main-bar -->
            </header>
            <!-- /.head -->
        </div>
        <!-- /#top -->
        <div id="left">
            <div class="media user-media bg-dark dker">
                <div class="user-media-toggleHover">
                    <span class="fa fa-user"></span>
                </div>
            </div>
            <!-- #menu -->
            <ul id="menu" class="bg-blue dker">
                <li class="nav-header">Menu</li>
                <li class="nav-divider"></li>
                <li class="">
                    <a href="@Url.Action("Index","Home")">
                        <i class="fa fa-dashboard"></i><span class="link-title">&nbsp;Task Manager</span>
                    </a>
                </li>
                @if (AuthenticatonService.LoggedUser == null)
                {
                    <li class="">
                        <a href="@Url.Action("Index","Home")">
                            <i class="fa fa-dashboard"></i><span class="link-title">&nbsp;Home</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="@Url.Action("About","Home")">
                            <i class="fa fa-dashboard"></i><span class="link-title">&nbsp;About</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="@Url.Action("Contact","Home")">
                            <i class="fa fa-dashboard"></i><span class="link-title">&nbsp;Contact</span>
                        </a>
                    </li>
                    <li class="nav-divider"></li>
                    <li class="">
                        <a href="@Url.Action("Login","Account")">
                            <i class="fa fa-dashboard"></i><span class="link-title">&nbsp;Login</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="@Url.Action("Register","Account")">
                            <i class="fa fa-dashboard"></i><span class="link-title">&nbsp;Register</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="">
                        <a href="@Url.Action("List","User")">
                            <i class="fa fa-dashboard"></i><span class="link-title">&nbsp;Users</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="@Url.Action("List","Task")">
                            <i class="fa fa-dashboard"></i><span class="link-title">&nbsp;Tasks</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="@Url.Action("List","Projects")">
                            <i class="fa fa-dashboard"></i><span class="link-title">&nbsp;Projects</span>
                        </a>
                    </li>
                }
                <li class="nav-divider"></li>
                @if (AuthenticatonService.LoggedUser != null)
                {
                    <li>
                        <a href="@Url.Action("Logout","Account")">
                            <i class="fa fa-sign-in"></i>
                            <span class="link-title">
                                Log Out
                            </span>
                        </a>
                    </li>
                }

            </ul>
            <!-- /#menu -->
        </div>
        <!-- /#left -->
        <div id="content">
            <div class="outer">
                <div class="inner bg-light lter">
                    @RenderBody()
                </div>
                <!-- /.inner -->
            </div>
            <!-- /.outer -->
        </div>
        <!-- /#content -->
    </div>
    <!-- /#wrap -->
    <footer class="Footer bg-dark dker">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/themeScripts")
    @RenderSection("scripts", required: false)
</body>

</html>
