@model TaskManagerMVC.ViewModels.UserVM.UserListVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Edit")
</p>

@using (Html.BeginForm("List", "Users", FormMethod.Get))
{
    <div style="margin-bottom: 20px; height: 50px;">
        @Html.TextBoxFor(model => model.Search, new { @class = "form-control pull-left", @style = "width:300px ", @placeholder="Search..." })
        <input type="submit" value="Search" class="btn btn-primary pull-left" style="margin-left: 20px;" />
    </div>
}
<table class="table table-responsive table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.ActionLink("First Name", "List", "Users", new RouteValueDictionary { { "SortOrder", Model.SortOrder == "firstname_desc" ? "firstname_asc" : "firstname_desc" }, { "Search", Model.Search } }, null)
        </th>
        <th>
            @Html.ActionLink("Last name", "List", "Users", new RouteValueDictionary { { "SortOrder", Model.SortOrder == "lastname_desc" ? "lastname_asc" : "lastname_desc" }, { "Search", Model.Search } }, null)
        </th>
        <th>
            @Html.ActionLink("Username", "List", "Users", new RouteValueDictionary { { "SortOrder", Model.SortOrder == "username_desc" ? "username_asc" : "username_desc" }, { "Search", Model.Search } }, null)
        </th>
        <th>
            Email
        </th>
    </tr>
</table>

<div style="margin: 50px;">
    @foreach (var item in Model.Users)
    {

        <div class="text-center" style="float: left; width:300px; height: 200px; border:1px solid black; margin:10px; padding: 10px;">
            @if (!String.IsNullOrEmpty(item.ImageUrl))
            {
                <img class="photo" src="~/Uploads/@item.ImageUrl" alt="Image" style="max-width:100px; max-height: 100px;" />
            }
            else
            {
                <img class="photo" src="~/Uploads/default.jpg" alt="Image" style="max-width:100px; max-height: 100px;"/>
            }
            <div>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</div>
            <div>Username: @Html.DisplayFor(modelItem => item.Username)</div>
            <div>Email: @Html.DisplayFor(modelItem => item.Email)</div>
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </div>
        </div>
    }
</div>