@model TaskManagerMVC.Models.Project

<div>
    <h4 class="pull-left" style="width:100px">@Model.Name </h4>
    <div class="pull-left" style="margin-top: 10px;">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "List")
    </div> 
    <div class="clearfix"></div>
    @if (!String.IsNullOrEmpty(Model.ImageURL))
    {
        <img class="photo" src="@Model.ImageURL" alt="Image" style="max-width:100px; max-height: 100px;" />
    }
    else
    {
        <img class="photo" src="http://cipottawa.com/wp-content/themes/aaika/assets/images/default.jpg" alt="Image" style="max-width:100px; max-height: 100px;" />
    }
      
    <hr />
    <div class="info" style="margin-left: 30px;">
        <div class="row">
            Admin: <span>@Model.ProjectAdmin.FirstName @Model.ProjectAdmin.LastName</span>
        </div>
        <hr />
        <div class="row">
            Assigned users: 
            @foreach (var user in Model.AssignedUsers)
            {
                <div>
                    @Html.ActionLink(user.FirstName + " " + user.LastName, "Details", "User", new { id = user.ID }, null)
                </div>
            }
        </div>
        <hr />
        <div class="row">
            Tasks:
            @foreach (var task in Model.Tasks)
            {
                <div>
                    @Html.ActionLink(task.Title, "Details", "Task", new { id = task.ID }, null)
                </div>                
            }
        </div>

    </div>
</div>
