@model TaskManagerMVC.Models.Project

<div>
    <h4 class="pull-left" style="width:100px">@Model.Name </h4>
    <div class="pull-left" style="margin-top: 10px;">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "List")
    </div> 
    <div class="clearfix"></div>
    <img class="photo" src="~/Uploads/@Model.ImageURL" style="max-width:300px"/>
      
    <hr />
    <div class="info" style="margin-left: 30px;">
        <div class="row">
            Admin: <span>@Model.ProjectAdmin.FirstName @Model.ProjectAdmin.LastName</span>
        </div>
        <hr />
        <div class="row">
            Assigned users: 
            @foreach (var user in Model.AssignedUsers)
            {
                <div>
                    @Html.ActionLink(user.FirstName + " " + user.LastName, "Details", "User", new { id = user.ID }, null)
                </div>
            }
        </div>
        <hr />
        <div class="row">
            Tasks:
            @foreach (var task in Model.Tasks)
            {
                <div>
                    @Html.ActionLink(task.Title, "Details", "Task", new { id = task.ID }, null)
                </div>                
            }
        </div>

    </div>
</div>
