@model TaskManagerMVC.ViewModels.ProjectsVM.ProjectListVM

<p>
    @Html.ActionLink("Create New", "Edit")
</p>
<div style="margin-bottom: 20px; height: 50px;">
    @Html.TextBoxFor(model => model.Search, new { @class = "form-control pull-left", @style = "width:300px ", @placeholder = "Search..." })
    <input type="submit" value="Search" class="btn btn-primary pull-left" style="margin-left: 20px;" />
</div>

<table class="table">
    <tr>
        <th>
            Project Admin
        </th>
        <th>
            Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Projects) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectAdmin.FirstName) @Html.DisplayFor(modelItem => item.ProjectAdmin.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
