@model TaskManagerMVC.ViewModels.TaskVM.TaskListVM

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Edit")
</p>

@using (Html.BeginForm("List", "Task", FormMethod.Get))
{
    <div style="margin-bottom: 20px; height: 50px;">
        @Html.TextBoxFor(model => model.Search, new { @class = "form-control pull-left", @style = "width:300px ", @placeholder = "Search..." })
        <input type="submit" value="Search" class="btn btn-primary pull-left" style="margin-left: 20px;" />
    </div>
}
<table class="table">
    <tr>
        <th>
            Project
        </th>
        <th>
            Author
        </th>
        <th>
            Asignee
        </th>
        <th>
            @Html.ActionLink("Title", "List", "Task", new RouteValueDictionary { { "SortOrder", Model.SortOrder == "title_desc" ? "title_asc" : "title_desc" }, { "Search", Model.Search } }, null)
        </th>
        <th>
            Status
        </th>
        <th>
            Content
        </th>
        <th>
            Creation Date
        </th>
    </tr>
</table>

<div style="margin: 50px;">
    @foreach (var item in Model.Tasks)
    {

        <div class="text-center" style="float: left; width:300px; height: 400px; border:1px solid black; margin:10px; padding: 10px;">
            <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
            <h5><strong>Status:</strong> @Html.DisplayFor(modelItem => item.Status)</h5>
            @if (!String.IsNullOrEmpty(item.ImageURL))
                {
                <img class="photo" src="@item.ImageURL" alt="Image" style="max-width:100px; max-height: 100px;" />
            }
            else
            {
                <img class="photo" src="http://cipottawa.com/wp-content/themes/aaika/assets/images/default.jpg" alt="Image" style="max-width:100px; max-height: 100px;" />
            }

            <div><strong>Created by:</strong> @Html.DisplayFor(modelItem => item.Author.FirstName) @Html.DisplayFor(modelItem => item.Author.LastName) </div>
            <div><strong>Assignee:</strong> @Html.DisplayFor(modelItem => item.Assignee.FirstName) @Html.DisplayFor(modelItem => item.Assignee.LastName)</div>
            <div><strong>Project:</strong> @Html.DisplayFor(modelItem => item.Project.Name)</div>
            
            <div><strong>Content:</strong> @Html.DisplayFor(modelItem => item.Content)</div>
            <div><strong>Created:</strong> @Html.DisplayFor(modelItem => item.CreationDate)</div>
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </div>
        </div>
    }
</div>